services:

  # 1. NGINX: Ini adalah pintu utama (Gatekeeper)
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"  # Kau akses localhost (tanpa :9000)
    volumes:
      - .:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    networks:
      - my-network

  web:
    build: .
     
    volumes:
      - .:/var/www/html
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    networks:
      - my-network

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./data_db:/var/lib/mysql
    networks:
      - my-network

  # --- TAMBAH DI SINI ---
  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    networks:
      - my-network

networks:
  my-network:
