version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    networks:
      - my-network

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: web_db
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
